.card{
  border: 1px solid white;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 4px 4px white;
  text-align: center;
  cursor: pointer;
}

.card > h2{
  font-size: 32px;
  margin-bottom: 10px;
  padding-left: 8px;
  border-left: 6px solid #3498db;
}

.card > img{
  border-radius: 10px;
}

.tags {
 display: flex;
 flex-wrap: wrap;
 gap: 8px;
 margin-bottom: 24px;
 max-width: 300px;
 justify-content: center;
}

.tag {
    background-color: #fff; /* Cor de fundo */
    color: #000000; /* Cor do texto */
    border-radius: 8px; /* Borda arredondada */
    font-size: 12px;
    font-weight: bold;
    padding: 4px 12px;
  }