.card{
  border: 1px solid white;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 4px 4px white;
  text-align: center;
}

.card > h2{
  font-size: 32px;
  margin-bottom: 10px;
  padding-left: 8px;
  border-left: 4px solid transparent;
  cursor: pointer;
  border-left: 4px solid #3498db;
}

.card > img{
  border-radius: 10px;
}